<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
    <link rel="stylesheet" href="/css/mypage/change-password.css">
    <link rel="stylesheet" href="/css/footer/footer.css">
    <link rel="stylesheet" href="/css/header/headerking.css">
    <link rel="stylesheet" href="/css/header/headerMedia.css">
</head>
<body>
<div class="modal">
    <div class="warn-modal">
        <div id="content-wrap"></div>
    </div>
</div>
<div id="page-container">
    <div id="accountWrap">
        <div id="newContainer">
            <div class="account-wrap">
                <h2 class="small">비밀번호 설정</h2>
                <div class="email-input-wrap">


                        <input type="password" id="oldPassword" name="oldPassword" class="input-text"
                               placeholder="현재 비밀번호">
                        <p id="oldPasswordError" class="error-text"></p>

                        <form th:action="@{/mypage/passchangee}"  method="post" id="saveForm" th:object="${userVO}">
                        <input type="password" id="newPassword" name="newPassword" class="input-text"
                               placeholder="새 비밀번호" maxlength="17">
                        <p id="passwordError" class="pwd-text">영문, 숫자, 특수문자 (!@#$%^&amp;*+=-)를 모두 조합한 8자 이상</p>
                        <input type="password" id="newPasswordConfirm" name="newPasswordConfirm" class="input-text"
                               placeholder="새 비밀번호 확인" maxlength="17" th:field="*{password}">
                        <p class="error-text">비밀번호가 같지 않습니다.</p>
                        <div class="email-input-wrap small">
                            <div class="btn-wrap smaller">
                                <button id="saveBtn" type="button" onclick="send()" class="wz button primary block" >확인</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>

</div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/mypage/chage-password.js"></script>
<script>

    $('#oldPassword').blur(function () {

        let k = $('#oldPassword').val();

        $.ajax({
            url:`/mypage/check-password/${k}`,
            data:{password: $("#oldPassword").val()},
            success:function(result){


                if(result){
                    infoCheck = true;
                    $("#oldPasswordError").css('display','none');
                    return ;
                }

                else{
                    infoCheck = false;
                    $("#oldPasswordError").css('color','red');
                    $("#oldPasswordError").text('현재 비밀번호가 일치 하지 않습니다.');
                    $("#oldPasswordError").css('display','block');
                    return ;
                }


            }
        });

    })

    //모달

    let modalCheck;
    function showWarnModal(modalMessage){
        modalCheck = false;
        $("div#content-wrap").html(modalMessage)
        $("div.warn-modal").css("animation", "popUp 0.5s");
        $("div.modal").css("display", "flex").hide().fadeIn(500);
        setTimeout(function(){modalCheck = true;}, 500);
    }

    $("div.modal").on("click", function(){
        if(modalCheck){
            $("div.warn-modal").css("animation", "popDown 0.5s");
            $("div.modal").fadeOut(500);
        }
    });


        /*$("#saveBtn").click(function() {
            // 현재 비밀번호, 새 비밀번호, 새 비밀번호 확인 값을 가져옴


                if ((newPassword == newPasswordConfirm)) {
                    $(".error-text:last-of-type").hide();
                    $("#newPassword").css("borderColor", "")
                    $("#newPasswordConfirm").css("borderColor", "")
                    $("#passwordError").css("color", "")
                    k1=1;
                    return;
                } else {
                    $(".error-text:last-of-type").show();
                    $("#newPassword").css("borderColor", "#f66")
                    $("#newPasswordConfirm").css("borderColor", "#f66")
                    $("#passwordError").css("color", "red")
                    k1=0;
                    return;

                }

                if (!passwordRegex.test(newPassword)) {
                    $("#passwordError").css("color", "red")
                    $("#newPassword").css("borderColor", "#f66")
                    $("#newPasswordConfirm").css("borderColor", "#f66")
                    k2 =0;
                    return;
                } else {
                    $("#newPassword").css("borderColor",     "")
                    $("#newPasswordConfirm").css("borderColor", "")
                    k2 =1;
                }

        });*/

    const newPassword = $("#newPassword").val();
    const newPasswordConfirm = $("#newPasswordConfirm").val();
    // 새 비밀번호가 영문, 숫자, 특수문자 조합의 8자 이상인지 확인
    const passwordRegex = /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^&*+=-]).{8,}$/;
    let k1=0;
    let k2=0;

    function send(){

        if ((newPassword == newPasswordConfirm)) {
            $(".error-text:last-of-type").hide();
            $("#newPassword").css("borderColor", "")
            $("#newPasswordConfirm").css("borderColor", "")
            $("#passwordError").css("color", "")
            k1=true;
            return;
        } else {
            $(".error-text:last-of-type").show();
            $("#newPassword").css("borderColor", "#f66")
            $("#newPasswordConfirm").css("borderColor", "#f66")
            $("#passwordError").css("color", "red")
            k1=false;
            return;

        }

        if (!passwordRegex.test(newPassword)) {
            $("#passwordError").css("color", "red")
            $("#newPassword").css("borderColor", "#f66")
            $("#newPasswordConfirm").css("borderColor", "#f66")
            k2 =true;
            return;
        } else {
            $("#newPassword").css("borderColor",     "")
            $("#newPasswordConfirm").css("borderColor", "")
            k2 =false;
        }

        console.log(typeof k1)
        console.log(typeof k2)
        console.log(k1)
        console.log(k2)

        if(infoCheck==true && k1==true && k2==true){
            console.log("다ㅇ됨")
            $('#saveBtn').submit();
        }

        else{
            let modalMessage = "<span>비밀번호를 확인해주세요.</span>";
            showWarnModal(modalMessage);
            return;
        }

    }

</script>
</html>
