<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>프로필 수정</title>
    <link rel="stylesheet" href="/css/mypage/changeInfo.css">
    <link rel="stylesheet" href="/css/footer/footer.css">
</head>
<body>
<div id="page-container">
    <div id="waccountWrap">
        <div class="waccount-wrap">
            <div id="waccountContainer">
                <h3>프로필 정보 설정</h3>
                <div id="tabContent1" class="tab-content">
                    <h5>프로필 사진</h5>
                    <div class="profileimg-wrap">
                        <button type="button" id="resultProfileImg" class="profileimg"><em
                                style="background-image:url(https://www.wadiz.kr/wwwwadiz/green001/sns_profile_pics/20230510032032299_2782810566.jpg)"></em>
                        </button>
                        <p class="setting-profileimg">
                            <button type="button" id="btn_updatePhoto">
                                <span>바꾸기</span>
                            </button>
                            <button type="button" id="btn_deletePhoto">삭제</button>
                        </p>
                    </div>


                    <h5>학교 / 전공</h5>
                    <ul class="input-div2">
                        <li><input type="text" class="input-text" maxlength="20" id="school" placeholder="학교"
                                   value=""></li>
                        <li><input type="text" class="input-text" maxlength="20" id="major" placeholder="전공"
                                   value=""></li>
                    </ul>

                    <h5>간단한 한 마디로 나를 소개해주세요</h5>
                    <div class="textarea-wrap">
                        <textarea id="introduceme" maxlength="80"></textarea>
                    </div>
                    <div class="btn-bottom">
                        <ul class="btn-div2">
                            <li>
                                <button type="button" class="wz button gray btn-darkgray">취소</button>
                            </li>
                            <li>
                                <button type="button" class="wz button primary btn-mint">확인</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>