<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 탈퇴</title>
    <link rel="stylesheet" href="/css/mypage/DropOutUser.css">
    <link rel="stylesheet" href="/css/footer/footer.css">
    <link rel="stylesheet" href="/css/mypage/cancelmodal.css">
</head>
<body>
<!-- 취소 모달-->
<form th:action="@{/mypage/drop}"  th:method="post" th:object="${userVO}">
    <div class="ReactModalPortal" style="display: none;">
        <div class="ReactModal__Overlay ReactModal__Overlay--after-open ConfirmModal_overlay__9xcDs waffle__modal__overlay" style="background-color: rgba(0, 0, 0, 0.2)">
            <div class="ReactModal__Content ReactModal__Content--after-open ConfirmModal_confirmModal__1x2Tw ConfirmModal_sizeLg__KHkYl" tabindex="-1" role="dialog" aria-modal="true">
                <div class="ConfirmModal_header__gkXhb">
                    <div title="정말 떠나시겠어요 ㅠㅠ?" class="ConfirmModal_title__ubaBW">
                        휴면계정으로 전환 하시겠어요?
                    </div>
                </div>
                <div class="ConfirmModal_content__3KM88 ConfirmModal_hasTitle__3rvSc">
                    휴면사유 : <div class="ConfirmModal_message__Mi2Ur"></div>
                    <input style="display: none" class="qq" >
                </div>
                <div class="ConfirmModal_footer__gfGBl">
                    <div class="ConfirmModal_buttonGroup__3YCl5">
                        <button class="mclose Button_button__2FuOU Button_text__2-UCU Button_md__46Ai- ConfirmModal_negativeButton__3VxAF" type="button">
                            <span><span class="Button_children__ilFun">닫기</span></span></button>
                        <button class="Button_button__2FuOU Button_primary__2mZni Button_text__2-UCU Button_md__46Ai- ConfirmModal_positiveButton__Fafi9" type="submit">
                            <span><span class="Button_children__ilFun">휴면계정 전환</span></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div id="page-container">
    <main class="account-drop wzui">
        <div class="wrap">
            <h1>회원 탈퇴</h1>
            <h2>어떤 점이 불편하셨나요?</h2>
            <p>티끌을 이용하면서 불편했던 점을 말씀해주시면, 티끌의 서비스 개선에 참고하도록 하겠습니다.</p>
            <div class="selectbox">
                <select id="selectDropOutReason" name="reason" onchange="selectbox(this.value);" th:field="*{status}">
                    <option class="btbt" value="탈퇴사유는 무엇인가요?" >탈퇴사유는 무엇인가요?</option>
                    <option class="btbt" value="재 가입을 위해">재 가입을 위해</option>
                    <option class="btbt" value="콘텐츠 품질과 서비스 정보 부족">콘텐츠 품질과 서비스 정보 부족</option>
                    <option class="btbt" value="고객 서비스의 불만">고객 서비스의 불만</option>
                    <option class="btbt" value="프로젝트 진행안내 및 메이커 새소식 수신거부">프로젝트 진행안내 및 메이커 새소식 수신거부</option>
                    <option class="btbt" value="티끌 광고 SMS, EMAIL수신거부">티끌 광고 SMS, EMAIL수신거부</option>
                    <option class="btbt" value="시스템 장애 (속도, 잦은 장애)">시스템 장애 (속도, 잦은 장애)</option>
                    <option class="btbt" value="개인 정보 (통신 및 신용정보 등) 노출 우려">개인 정보 (통신 및 신용정보 등) 노출 우려</option>
                    <option class="btbt" value="기타">기타</option>
                </select>
                <span class="babo">탈퇴사유는 무엇인가요?</span>
                <em id="selectDropOutReasonError" style="display:none">탈퇴 사유를 선택해주세요.</em>
            </div>
            <div class="reason-text" id="inputDropOutReason" style="display:none">
                <input type="text" name="reason-text" id="reason-text" placeholder="사유를 입력해 주세요." class="large" maxlength="64">
                <em id="inputDropOutReasonError" style="display:none">탈퇴 사유를 입력해주세요.</em>
            </div>
            <h2>탈퇴 전, 꼭 확인하세요!</h2>
            <p>탈퇴 전 반드시 아래 유의 사항을 확인하시기 바랍니다.<br><em>참여∙모집 중인 프로젝트가 있을때 또는 티끌 계좌에 예치금이 남았을 경우 탈퇴가 불가능합니다.</em></p>
            <dl>
                <dt>탈퇴 후 3개월 내 재가입 불가</dt>
                <dd>탈퇴 후 3개월 내 동일 아이디(이메일)로 재가입 불가</dd>
                <dt>티끌 계좌개설 되어있는 경우 탈퇴 후 3개월 내 동일한 실명정보로 계좌개설 불가</dt>
                <dd>티끌 계좌가 있어야만 이용 가능한 투자 신청 이용 불가</dd>
                <dt>탈퇴 후 재가입 시 신규 회원혜택 제한</dt>
                <dd>재가입 후 신규 회원혜택 및 제휴 프로모션 관련 혜택 지급 불가</dd>
                <dt>탈퇴 후 개인 정보 일괄 삭제</dt>
                <dd>참여한/찜 한/개설 중인 프로젝트 및 쿠폰, 포인트 등 개인 정보 일괄 삭제</dd>
                <dt>티끌 내 모든 서비스에서 탈퇴</dt>
                <dd>펀딩, 투자, 스타트업 찾기 등 티끌 회원으로서 이용하던 서비스 모두 이용 불가</dd>
                <dt>탈퇴 후 작성한 게시물은 삭제 불가</dt>
                <dd>게시글, 댓글, 펀딩한 프로젝트의 투자 리스트에 남겨진 이름 등 삭제 불가</dd>
                <dt>미상환 투자금 환급 불이익 감수</dt>
                <dd>아직 상환되지 않은 투자금이 있을때, 투자금을 돌려받지 못할 불이익과 위험 감수</dd>
            </dl>
            <p><label class="wz checkbox"><input type="checkbox" name="agree" value="Y" id="dropConfirm" ><span>상기 티끌 탈퇴 시 유의 사항을 확인하였습니다.</span></label>
            </p>
</form>
            <div class="drop-button">
                <input type="button" name="checkButton" value="회원 탈퇴" class="jumooncancel wz button red" disabled="disabled" id="btnDropOut">
            </div>
        </div>

    </main>
</div>
<div id="wadiz-app-banner"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>

var k = $("#selectDropOutReason").val;


// 회원탈퇴 버튼 활성화

    $("#dropConfirm").click(function () {

        if($("#btnDropOut").is(":disabled") && k){
            $("#btnDropOut").attr("disabled" , false);
        }

        else{
            $("#btnDropOut").attr("disabled" , true);
        }

    })

//취소모달

$(".jumooncancel").on("click", function()
{
    $("div.ReactModalPortal").css("display", "block");
    $("div.ReactModalPortal").css("animation", "popUp 0.5s");

});

$(".mclose").on("click", function()
{
    $("div.ReactModal__Overlay").css("animation", "popDown 0.5s");
    $("div.ReactModalPortal").fadeOut(500);
    $(".ConfirmModal_message__Mi2Ur").text($('#selectDropOutReason').val);

});



    var selectbox = function (val) {
        $('#selectDropOutReason').val(val);
        $(".babo").text(val);
        $(".ConfirmModal_message__Mi2Ur").text(val);
        $(".qq").val(val);
        console.log($('#selectDropOutReason').val());
        console.log($(".qq").val());
    }


</script>
</html>