<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내가 찜한 열매</title>
    <link rel="stylesheet" href="/css/mypage/jjim.css">
</head>
<body>
<div id="page-container">
    <div class="MainWrapper_content__GZkTa">
        <section>
            <div class="App_titleBox__GffUu"><h2 class="App_title__2iUXo"><font
                    style="vertical-align: inherit;"><font style="vertical-align: inherit;">찜하기</font></font></h2>
            </div>
            <div class="App_content__lI9Y7 App_hasContent__2eWnq">
                <div class="App_inner__29LAc"><h2 class="BlindText_textHidden__ovQb4">
                </h2>
                    <ul class="ProjectCardList_container__2Q0Js App_projectCardList__1KfbT">

                    </ul>
                </div>
            </div>
        </section>
    </div>
    </main>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:inline="javascript">

    let jjims = [[${jjims}]]
    console.log(jjims);
    jjims.forEach(jjim => {
        console.log(jjim);
        $('.ProjectCardList_container__2Q0Js').append(`
        <li class="ProjectCardList_cardList__Eh497">
                            <div class="ProjectCard_container__1jpWF App_projectCard__2z3D2"><a
                                    class="ProjectCard_card__EvFnb"
                                    href="/web/store/detail/190?_refer_section_st=찜하기_상품카드_스토어_0" data-ec-id="190"
                                    data-ec-name="좁은 냉장고에 쏙 들어가는 이중밀폐 이유식 얼음틀 멀티큐브" data-ec-brand="와디즈 주식회사"
                                    data-ec-category="리빙·베이비" data-ec-list="찜하기_상품카드_스토어" data-ec-position="0"
                                    data-ec-price="9900" data-ec-contenttype="STORE"
                                    data-gtm-vis-first-on-screen-11319722_2115="73"
                                    data-gtm-vis-first-on-screen-11319722_2073="75"
                                    data-gtm-vis-recent-on-screen-11319722_2073="176288"
                                    data-gtm-vis-total-visible-time-11319722_2073="2000"
                                    data-gtm-vis-recent-on-screen-11319722_2115="176288"
                                    data-gtm-vis-total-visible-time-11319722_2115="2000"
                                    data-gtm-vis-has-fired-11319722_2073="1"
                                    data-gtm-vis-has-fired-11319722_2115="1">
                                <div class="ProjectCard_thumbnailBox__3nf2n">
                                    <div aria-hidden="true"
                                         class="ProjectCard_projectCardImage__1wSoK CardThumbnail_thumbnail__3bDBJ CardThumbnail_visible__343f4"
                                         style="background-image: url(&quot;https://cdn2.wadiz.kr/2023/04/27/7444dc06-e59c-496a-bd15-774b39bbadea.jpg/wadiz/resize/400/format/jpg/quality/85/&quot;);"></div>

                                </div>

                                <div class="ProjectCard_infoBox__3ILIU">
                                    <div class="ProjectInfo_container__aMXhM ProjectInfo_containerStore__2hufL ProjectCard_projectInfoStore__21AkS">
                                        <div class="ProjectInfo_flexBox__1VtoL"><em
                                                class="ProjectInfo_state__3kvLA"><font
                                                style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">
                                                <span>${jjim.price}</span>
                                                </font></font>
                                                <span
                                                class="ProjectInfo_unit__2GehO"><font
                                                style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">원</font></font></span></em></div>
                                        <div class="ProjectInfo_flexBox__1VtoL ProjectInfo_moreInfoBox__3pz9a">
                                            <div class="ProjectInfo_flexBox__1VtoL ProjectInfo_ratingBox__3vkKq">
                                                <div class="RatingScore_container__AeQ_I RatingScore_smCard02__3cJAW">
                                                    <div class="RatingScore_icon__rIS_k"></div>
                                                    <span class="RatingScore_score__2a-SN"><font
                                                            style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">4.8</font></font></span>
                                                </div>
                                                <em class="ProjectInfo_count__3kFV_" aria-label="만족도 참여자 수"><font
                                                        style="vertical-align: inherit;"><font
                                                        style="vertical-align: inherit;">(</font></font><font
                                                        style="vertical-align: inherit;"><font
                                                        style="vertical-align: inherit;"><span>${jjim.jjimreviewCount}</span></font></font><font
                                                        style="vertical-align: inherit;"><font
                                                        style="vertical-align: inherit;">)</font></font></em></div>

                                        </div>
                                    </div>
                                    <strong class="ProjectCard_title__3ZLcD">${jjim.name}<font
                                            style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;"></font></font></strong>
                                    <dl class="ProjectCard_subInfo__nidZs">
                                        <dt class="ProjectCard_fontBlind__2JaYu"><font
                                                style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">카테고리</font></font></dt>
                                        <dd class="ProjectCard_subInfoText__-pKhs"><font
                                                style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;"><span>${jjim.cartegory}</span></font></font></dd>
                                        <dt class="ProjectCard_fontBlind__2JaYu"><font
                                                style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">메이커</font></font></dt>
                                        <dd class="ProjectCard_subInfoText__-pKhs ProjectCard_ellipsis1__3fNOy">
                                            <font style="vertical-align: inherit;"><font
                                                    style="vertical-align: inherit;"><span>${jjim.brand}</span></font></font></dd>
                                    </dl>
                                </div>
                                <div class="CardSpinner_container__1cKRs">
                                    <div class="CardSpinner_loader__2-LrZ" style="width: 32px; height: 32px;">
                                        <svg viewBox="25 25 50 50" aria-label="로드 중">
                                            <g class="Loader_circular__2dy3E">
                                                <circle class="Loader_path__2uhmv" cx="50" cy="50" r="20"
                                                        fill="none" stroke-width="4"
                                                        stroke-miterlimit="10"></circle>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </a>

                            <button style="display: none"  value="${jjim.itemId}" class="begopa"></button>


                                <button type="button" class="WishButton_button__1ZqbG WishButton_interaction__2FCel"
                                        aria-label="찜하기 버튼" aria-pressed="true" data-ga-category="공통_상품카드_스토어"
                                        data-ga-action="찜하기_취소" data-ga-label="" >
                                    <svg viewBox="0 0 32 32" focusable="false" role="presentation"
                                         class="withIcon_icon__3VTbq" aria-hidden="true">
                                        <path d="M22.16 4h-.007a8.142 8.142 0 0 0-6.145 2.79A8.198 8.198 0 0 0 9.76 3.998a7.36 7.36 0 0 0-7.359 7.446c0 5.116 4.64 9.276 11.6 15.596l2 1.76 2-1.76c6.96-6.32 11.6-10.48 11.6-15.6v-.08A7.36 7.36 0 0 0 22.241 4h-.085z"></path>
                                    </svg>
                                </button>
                            </div>
                        </li>
        `)
    });
</script>

<script>

    let heartsbtn=document.querySelectorAll(".WishButton_button__1ZqbG");

    heartsbtn.forEach(item=>item.addEventListener('click',function () {
        console.log($('.begopa').val());
        console.log($(this).index(this));
        let itemId = $('.begopa').val();

        if(item.getAttribute('aria-pressed')==='true'){
            item.classList.add('wishButton_active__3CKVe');
            item.style.transition="scale 1s";
            item.style.scale= "0.5";
            item.setAttribute('aria-pressed','false');
            item.style.scale= "1.0";
            setTimeout(()=>{item.classList.remove('wishButton_active__3CKVe');},300);


            $.ajax({
                url: `/mypage/nojjim/${itemId}`

            })
return;
        }else if(item.getAttribute('aria-pressed')==='false'){
            item.classList.add('wishButton_active__3CKVe');
            item.setAttribute('aria-pressed','true');
            setTimeout(()=>{item.classList.remove('wishButton_active__3CKVe')},300);

            $.ajax({
                url: `/mypage/jjimregogo/${itemId}`

            })
            return;
        }

    }));

</script>
</html>