<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>나의 도란방 게시글 목록</title>
    <link rel="stylesheet" href="/css/mypage/mypage-doranbang.css">
</head>
<body style="">
<div id="root">

    <div class="MuiBox-root css-0">
        <div class="MuiBox-root css-ldo4d5">
            <div class="MuiBox-root css-nh5bnw">
                <p class="MuiTypography-root MuiTypography-body1 css-1opn9x3">나의 도란방</p>
                <div role="tabpanel" id="simple-tabpanel-0" aria-labelledby="simple-tab-0"
                     style="margin-top: 68px; width: 100%;">
                    <div class="MuiBox-root css-old1by">
                        <div class="MuiBox-root css-tor48c">
                            <div class="wcommunity-webzine-list">
                                <ul>

                                    <li class="bbbb">
                                        <!--<a href="javascript:detail(8308)">
-->
                                            <!--<div class="wcommunity-story" th:object="@{k3}">
                                                <div class="story-info">
                                                    <em class="category notice-badge">공지</em>
                                                    <em class="category best-badge">베스트</em>
                                                    <em class="category">티끌이야기</em>
                                                    <p class="title" th:text="*{title}"> 와디즈 펀딩의 시작과 끝을 전문가와 함께 하는, 파트너 서비스</p>
                                                    &lt;!&ndash;<p class="summary">와디즈 펀딩의 시작과 끝을 전문가와 함께 할 수 있는 와디즈 파트너 서비스입니다.</p>&ndash;&gt;
                                                    <p class="info"><em class="editor" th:text="*{name}">최보근</em><em class="date" th:text="*{registerdate}"></em>
                                                </div>
                                                <div class="img-wrap">
                                                    <div class="story-img"
                                                         style="background-image:url(https://cdn.wadiz.kr/ft/images/green001/2022/0913/20220913111130235_29.png/wadiz/resizecrop/420x320/format/jpg/quality/80)"></div>
                                                </div>
                                            </div>-->
                                    </li>

                                </ul>
                            </div>
                            <div class="MuiBox-root css-46b038" data-gtm-vis-first-on-screen-97083289_157="1616694">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:inline="javascript">

    let datass = [[${datass}]];
    console.log(datass);
    datass.forEach(data =>{
        console.log(data);
        $('.bbbb').append(`

               <div class="wcommunity-story">
                                                  <div class="story-info">
                                                    <em class="category notice-badge">공지</em>
                                                    <em class="category best-badge">베스트</em>
                                                    <em class="category">티끌이야기</em>
                                                    <p class="title"> ${data.title}</p>
                                                    <!--<p class="summary">와디즈 펀딩의 시작과 끝을 전문가와 함께 할 수 있는 와디즈 파트너 서비스입니다.</p>-->
                                                    <p class="info"><em class="editor">${data.name}</em><em class="date">${data.registerdate}</em>
                                                </div>
                                                <div class="img-wrap">
                                                    <div class="story-img"
                                                         style="background-image:url(https://cdn.wadiz.kr/ft/images/green001/2022/0913/20220913111130235_29.png/wadiz/resizecrop/420x320/format/jpg/quality/80)"></div>
                                                </div>
                                            </div>

    `)
    });

</script>

</html>