<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>후기 내역</title>
    <link rel="stylesheet" href="/css/mypage/mypage-review.css">
    <link rel="stylesheet" href="/css/header/headerking.css">
</head>
<body style="">
<div class="web-header" th:replace="~{/header/header::.web-header}" >
</div>
<div id="root">
    <div id="wz-header">
        <div class="web-header">
            <div class="web-header-large">
            </div>
        </div>
    </div>
    <div class="MuiBox-root css-0">
        <div class="MuiBox-root css-ldo4d5">
            <div class="MuiBox-root css-nh5bnw">
                <p class="MuiTypography-root MuiTypography-body1 css-1opn9x3">구매 후기</p>
                <div role="tabpanel" id="simple-tabpanel-0" aria-labelledby="simple-tab-0"
                     style="margin-top: 60px; width: 100%;">
                    <div class="MuiBox-root css-old1by">
                        <div class="MuiBox-root css-tor48c">
                            <div class="wcommunity-webzine-list">
                                <ul class="bbbb">

                                    <!--<li>
                                        <a href="javascript:detail(8308)">
                                            <div class="wcommunity-story  ">
                                                <div class="story-info">
                                                    <em class="category">구매 후기</em>
                                                    <p class="title"> 넘나 기대됩니다 다이어트 치킨이라니!!!❣️❣️
                                                        알림신청 펀딩 지지서명 완료❣️
                                                        빨리 받아보고 싶어요 ㅎㅎㅎ
                                                        앵콜펀딩도 해주세요넘나 기대됩니다 다이어트 치킨이라니!!!❣️❣️
                                                        알림신청 펀딩 지지서명 완료❣️
                                                        빨리 받아보고 싶어요 ㅎㅎㅎ
                                                        앵콜펀딩도 해주세요!!!!</p>
                                                    <p class="info"><em class="editor"></em><em class="date">22.09.07</em></p>
                                                </div>
                                                <div class="img-wrap">
                                                    <div class="story-img"
                                                         style="background-image:url(https://cdn.wadiz.kr/ft/images/green001/2023/0412/20230412150353887_4.png/wadiz/resize/800/format/jpg/quality/80/)"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>-->

                                </ul>
                            </div>
                            <div class="MuiBox-root css-46b038" data-gtm-vis-first-on-screen-97083289_157="1616694">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div >
    <footer id="footer" th:replace="~{/footer/footer::footer}"></footer>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:inline="javascript">

    let datass = [[${datass}]];
    console.log(datass);
    datass.forEach(data =>{
        console.log(data);
        $('.bbbb').append(`

               <li>
                                        <a href="javascript:detail(8308)">
                                            <div class="wcommunity-story  ">
                                                <div class="story-info">
                                                    <em class="category">구매 후기</em>
                                                    <p class="title">${data.content}</p>
                                                    <p class="info"><em class="editor"></em><em class="date">${data.registerDate}</em></p>
                                                </div>
                                                <div class="img-wrap">
                                                    <div class="story-img"
                                                         style="background-image:url(https://cdn.wadiz.kr/ft/images/green001/2023/0412/20230412150353887_4.png/wadiz/resize/800/format/jpg/quality/80/)"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>

    `)
    });

</script>
<script src="/js/header/header.js"></script>
</html>