<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/mypage/mypage-review-details.css">
    <link rel="stylesheet" href="/css/footer/footer.css">
    <link rel="stylesheet" href="/css/header/headerking.css">
</head>
<body style="overflow: auto;" class="">
<div id="page-container">
    <main id="main-app">
        <div class="qwqwqw">

        </div>
    </main>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:inline="javascript">

    let datas = [[${kkk}]];
    console.log(datas);
    datas.forEach(data =>{
        console.log(data);
        $('.qwqwqw').append(`
                <div class="DetailContent_container__oYgFG">
                <div class="storeTabContentsWrapper">
                    <div class="storeTabContents">
                        <div class="DetailSatisfaction_container__t8Ax_">
                            <div class="CommentTitle_container__1Zdwo"><span
                                    class="CommentTitle_title__2RXrf">만족도</span></div>






                            <div class="DetailSatisfaction_tabsWrap__1YI1J">

                            </div>
                            <div>

                                <div class="StoreSatisfactionList_container__9dez2 DetailSatisfaction_satisfactionList__3XBBJ">

                                    <div>
                                        <div class="StoreSatisfactionCard_container__3TDTr">
                                            <div class="StoreSatisfactionCard_divider__Zh8Se"></div>
                                            <div class="StoreSatisfactionCard_header__156AH">
                                                <div>
                                                    <div class="Avatar_avatar__1d9Wt Avatar_xs__3q9gb">
                                                        <span></span></div>
                                                </div>
                                                <div class="StoreSatisfactionCard_rightPanel__XCjpV">
                                                    <div class="StoreSatisfactionCard_titleArea__1S3zk">
                                                        <span class="StoreSatisfactionCard_nickName__16JEX">${data.name}</span>
                                                        <div class="StoreSatisfactionCard_sideArea__jGJma">
                                                            <div class="StoreSatisfactionCard_dateArea__2nNep">
                                                                <span class="StoreSatisfactionCard_updatedDate__1PmK7">${data.registerDate}</span>
                                                            </div>
                                                            <div class="StoreSatisfactionCard_moreWrap__3zYcp">
                                                                <svg viewBox="0 0 40 40" focusable="false"
                                                                     role="presentation"
                                                                     class="withIcon_icon__3VTbq"
                                                                     aria-hidden="true">
                                                                    <path d="M24.52 5A4.52 4.52 0 1 0 20 9.57 4.53 4.53 0 0 0 24.52 5zm0 30A4.52 4.52 0 1 0 20 39.48 4.53 4.53 0 0 0 24.52 35zm0-15A4.52 4.52 0 1 0 20 24.52 4.53 4.53 0 0 0 24.52 20z"></path>
                                                                </svg>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="StoreSatisfactionCard_ratingArea__2RBSe">
                                                        <div class="RatingScore_container__AeQ_I RatingScore_smTitle__1OhOH">
                                                            <div class="RatingScore_icon__rIS_k"></div>
                                                            <span class="RatingScore_score__2a-SN" >${data.score}</span>
                                                        </div>
                                                        <div class="StoreSatisfactionCard_badges__2Q8Zp">
                                                            <span class="StoreSatisfactionCard_badge__35nf6">1회 구매</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="StoreSatisfactionCard_content__2izM4">
                                                <div class="StoreSatisfactionCard_comment__2d9RM">${data.content}
                                                </div>
                                                <div class="StoreSatisfactionCard_options__P2kzd"><span
                                                        class="StoreSatisfactionCard_option__2pjHI">${data.brand}</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div></div>
                                </div>
                            </div>

                        </div>
                    </div>




                </div>
            </div>
    `)
    });

</script>
</html>