<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이 페이지</title>
    <link rel="stylesheet" href="/css/mypage/mypage.css">
    <link rel="stylesheet" href="/css/header/headerking.css">
</head>
<body style="overflow: auto;">
<div class="web-header" th:replace="~{/header/header::.web-header}" >
</div>
<div id="page-container">
    <main id="main-app">
        <div class="MainWrapper_content__GZkTa">
            <section class="MyWadizPage_myWadizPage__wOTdS">
                <div class="MyWadizPage_profileBackground__T_LTr" aria-hidden="true"></div>
                <div class="MyWadizPage_inner__1oq9M">
                    <div class="MyWadizPage_popperBox__113hj">
                        <div class="MyWadizHeader_wadizHeader__8fJ9f"></div>
                    </div>

                    <div class="MyWadizPage_contentsWrapper__1dzMJ" th:object="${k}">
                        <div class="MyWadizSupporter_supporterMode__2XDQZ" role="tabpanel" id="myWadizPanel_supporter"
                             aria-labelledby="myWadizTab_supporter">

                            <div class="MyWadizSupporterProfile_profileContainer__1q7eh"><h3
                                    class="BlindText_textHidden__ovQb4"></h3>
                                <div class="MyWadizSupporterProfile_profileImage__1eEvS">
                                    <button class="MyWadizSupporterProfile_detailProfile__1JImc" aria-label="프로필 상세 보기"
                                            data-event="profile"
                                            style="background-image: url(https://d2v80xjmx68n4w.cloudfront.net/assets/icon/mykmong-profile-default@3x.png);"></button>
                                    <button class="MyWadizSupporterProfile_editProfile__3HG_Z" aria-label="프로필 편집하기" onclick="location='/main/UpdateBasicInfo'">
                                        <svg viewBox="0 0 32 32" focusable="false" role="presentation"
                                             class="withIcon_icon__3VTbq" aria-hidden="true">
                                            <path d="M24 1.6L1.6 24v6.4H8L30.4 8zM7.36 28.8H3.2v-4.16L19.76 8.08l4.16 4.16zm17.68-17.68l-4.16-4.16L24 3.84 28.16 8z"></path>
                                        </svg>
                                    </button>
                                </div>
                                <div class="MyWadizSupporterProfile_profileUser__a_r1P">


                                    <!--사용자 이름-->


                                    <button data-event="profile"><b
                                            class="MyWadizSupporterProfile_userName__3hSE4" th:text="*{name}"><span
                                            aria-label="프로필 상세 보기">님</span>
                                    </b></button>
                                    <dl class="MyWadizSupporterProfile_profileUserLabel__1fiU3">
                                        <dt class="BlindText_textHidden__ovQb4">내 회원 정보</dt>
                                    </dl>
                                </div>
                                <div class="MyWadizSupporterProfile_setting__n8-M7">
                                    <button class="Button_button__1HNjI Button_md__2Tyci Button_circular__3BLWf Button_block__3-IpL"
                                            type="button" onclick="location='/join/logout'"><span><span class="Button_children__lqBGI">로그아웃</span></span>
                                    </button>
                                </div>
                            </div>



                            <div class="MyWadizSupporter_contents__1TmJ_">
                                <div class="MyWadizSection_section__3FCv1">
                                    <div class="MyWadizSupporterProject_container__2uWcZ">
                                        <div class="MyWadizSupporterProject_title__1IOfu">
                                            <div class="MyWadizSupporterProject_accumulate__1nyx5">
                                                <div class="MyWadizSupporterProject_value__7aQ4B">
                                                    <a
                                                        class="MyWadizSupporterAccumulate_container__h_OVK">
                                                    <dl class="MyWadizSupporterAccumulate_info__2_7Is">
                                                        <dt class="MyWadizSupporterAccumulate_title__3CiIs">

                                                            <span class="MyWadizSupporterAccumulate_name__1mWXC">레벨</span>
                                                        </dt>


                                                        <!-- 레벨 -->

                                                        <dd class="MyWadizSupporterAccumulate_value__1oBSj"> LV.</dd><dd class="MyWadizSupporterAccumulate_value__1oBSj" th:text="*{savinglevelId}"></dd>
                                                    </dl>
                                                </a>
                                                    </div>
                                            </div>
                                            <div class="MyWadizSupporterProjectInfo_container__3MC9F">
                                                <div class="MyWadizSupporterProjectInfo_project__3Vaun">



                                                    <div class="MyWadizSupporterProjectInfo_projectLink__2K77b"><strong
                                                            class="BlindText_textHidden__ovQb4">결제 건수</strong>



                                                        <!-- 구메내역 개수-->


                                                        <a
                                                            href="/main/jumoonneyuk"><span>구매내역</span><b th:text="*{orderCount}"></b></a>



                                                        <hr class="Divider_divider__ToZaf Divider_vertical__fJJKf Divider_lightBG__3bAAk Divider_spacing5__C3W8V Divider_caption2__3b6Dr MyWadizSupporterProjectInfo_divider__2mXtA">

                                                        <!-- 찜 개수-->

                                                        <a href="/jjim/html"><span>찜하기</span><b th:text="*{likeCount}"></b></a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="MyWadizSection_section__3FCv1"><h4 class="MyWadizSection_title__2pnV3">
                                    내
                                    정보</h4>
                                    <div>
                                        <ul>
                                            <li class="MyWadizMenu_menu__3b-H-"><a
                                                    href="/UpdateBasicInfo/html"><span
                                                    class="MyWadizMenu_icon__1sqne" aria-hidden="true"><svg
                                                    viewBox="0 0 40 40" focusable="false" role="presentation"
                                                    class="withIcon_icon__3VTbq" aria-hidden="true"><path fill="none"
                                                                                                          d="M0 0h40v40H0z"></path><path
                                                    d="M28.13 9.39a5.26 5.26 0 0 1 0 10.52 8.93 8.93 0 0 1-1.71 1.87 7.07 7.07 0 0 0 1.73.22 7.35 7.35 0 1 0 0-14.7 7.07 7.07 0 0 0-1.73.22 8.93 8.93 0 0 1 1.71 1.87zM29.82 24a8.41 8.41 0 0 1 2.63 2.38c3.71.69 5.3 2.51 5.3 5.8h2.09c0-6.58-5.31-7.97-10.02-8.18zM11.3 20.79v-1.04H6.69v-4.61H4.61v4.61H0v2.08h4.61v4.61h2.08v-4.61h4.61v-1.04z"></path><path
                                                    d="M27.85 14.65A7.35 7.35 0 1 0 20.5 22a7.36 7.36 0 0 0 7.35-7.35zm-12.62 0a5.27 5.27 0 1 1 5.27 5.26 5.27 5.27 0 0 1-5.27-5.26zM20.5 24c-5 0-11.69.85-11.69 8.22h2.08c0-4.36 2.79-6.14 9.61-6.14s9.6 1.78 9.6 6.14h2.08c0-7.42-6.67-8.22-11.68-8.22z"></path></svg></span><span
                                                    class="MyWadizMenu_text__9ryGW">기본 정보 설정</span><span
                                                    class="MyWadizMenu_arrowIcon__2sutN" aria-hidden="true"><svg
                                                    viewBox="0 0 40 40" focusable="false" role="presentation"
                                                    class="withIcon_icon__3VTbq" aria-hidden="true"><path
                                                    d="M28 20L15 33l-1.4-1.4L25.2 20 13.6 8.4 15 7l13 13z"></path></svg></span></a>
                                            </li>
                                            <li class="MyWadizMenu_menu__3b-H-"><a href="chagepassword.html"><span
                                                    class="MyWadizMenu_icon__1sqne" aria-hidden="true"><svg
                                                    viewBox="0 0 32 32" focusable="false" role="presentation"
                                                    class="withIcon_icon__3VTbq" aria-hidden="true"><path
                                                    d="M22.16 4h-.007a8.142 8.142 0 0 0-6.145 2.79A8.198 8.198 0 0 0 9.76 3.998a7.36 7.36 0 0 0-7.359 7.446c0 5.116 4.64 9.276 11.6 15.596l2 1.76 2-1.76c6.96-6.32 11.6-10.48 11.6-15.6v-.08A7.36 7.36 0 0 0 22.241 4h-.085zm-5.28 21.84l-.88.8-.88-.8h-.08C8.4 19.76 4 15.84 4 11.44l-.001-.082A5.76 5.76 0 0 1 9.928 5.6a6.542 6.542 0 0 1 4.865 2.232l.486.567h1.52l.48-.56a6.548 6.548 0 0 1 4.877-2.24l.084-.001a5.76 5.76 0 0 1 5.76 5.76l-.001.085c0 4.396-4.4 8.316-11.12 14.396z"></path></svg></span><span
                                                    class="MyWadizMenu_text__9ryGW">비밀번호 설정</span><span
                                                    class="MyWadizMenu_arrowIcon__2sutN" aria-hidden="true"><svg
                                                    viewBox="0 0 40 40" focusable="false" role="presentation"
                                                    class="withIcon_icon__3VTbq" aria-hidden="true"><path
                                                    d="M28 20L15 33l-1.4-1.4L25.2 20 13.6 8.4 15 7l13 13z"></path></svg></span></a>
                                            </li>

                                            <li class="MyWadizMenu_menu__3b-H-"><a
                                                    href="DropOutUser.html"><span
                                                    class="MyWadizMenu_icon__1sqne" aria-hidden="true"><i
                                                    class="MyWadizSupporterActivity_investIcon__2RFam"></i></span><span
                                                    class="MyWadizMenu_text__9ryGW">회원 탈퇴</span><span
                                                    class="MyWadizMenu_arrowIcon__2sutN" aria-hidden="true"><svg
                                                    viewBox="0 0 40 40" focusable="false" role="presentation"
                                                    class="withIcon_icon__3VTbq" aria-hidden="true"><path
                                                    d="M28 20L15 33l-1.4-1.4L25.2 20 13.6 8.4 15 7l13 13z"></path></svg></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="MyWadizSection_section__3FCv1"><h4 class="MyWadizSection_title__2pnV3">나의
                                    활동</h4>
                                    <div>
                                        <ul>
                                            <li class="MyWadizMenu_menu__3b-H-"><a
                                                    href="/mytikkle/html"><span
                                                    class="MyWadizMenu_icon__1sqne" aria-hidden="true"><i
                                                    class="MyWadizSupporterActivity_investIcon__2RFam"></i></span><span
                                                    class="MyWadizMenu_text__9ryGW">나의 티끌</span><span
                                                    class="MyWadizMenu_arrowIcon__2sutN" aria-hidden="true"><svg
                                                    viewBox="0 0 40 40" focusable="false" role="presentation"
                                                    class="withIcon_icon__3VTbq" aria-hidden="true"><path
                                                    d="M28 20L15 33l-1.4-1.4L25.2 20 13.6 8.4 15 7l13 13z"></path></svg></span></a>
                                            </li>
                                            <li class="MyWadizMenu_menu__3b-H-"><a
                                                    href="/mypage-review/html"><span
                                                    class="MyWadizMenu_icon__1sqne" aria-hidden="true"><i
                                                    class="MyWadizSupporterActivity_investIcon__2RFam"></i></span><span
                                                    class="MyWadizMenu_text__9ryGW">내돈내산</span><span
                                                    class="MyWadizMenu_arrowIcon__2sutN" aria-hidden="true"><svg
                                                    viewBox="0 0 40 40" focusable="false" role="presentation"
                                                    class="withIcon_icon__3VTbq" aria-hidden="true"><path
                                                    d="M28 20L15 33l-1.4-1.4L25.2 20 13.6 8.4 15 7l13 13z"></path></svg></span></a>
                                            </li>

                                            <li class="MyWadizMenu_menu__3b-H-"><a
                                                    href="/jumoonneyuk/html"><span
                                                    class="MyWadizMenu_icon__1sqne" aria-hidden="true"><svg
                                                    viewBox="0 0 40 40" focusable="false" role="presentation"
                                                    class="withIcon_icon__3VTbq" aria-hidden="true"><path fill="none"
                                                                                                          d="M0 0h40v40H0z"></path><path
                                                    d="M28.13 9.39a5.26 5.26 0 0 1 0 10.52 8.93 8.93 0 0 1-1.71 1.87 7.07 7.07 0 0 0 1.73.22 7.35 7.35 0 1 0 0-14.7 7.07 7.07 0 0 0-1.73.22 8.93 8.93 0 0 1 1.71 1.87zM29.82 24a8.41 8.41 0 0 1 2.63 2.38c3.71.69 5.3 2.51 5.3 5.8h2.09c0-6.58-5.31-7.97-10.02-8.18zM11.3 20.79v-1.04H6.69v-4.61H4.61v4.61H0v2.08h4.61v4.61h2.08v-4.61h4.61v-1.04z"></path><path
                                                    d="M27.85 14.65A7.35 7.35 0 1 0 20.5 22a7.36 7.36 0 0 0 7.35-7.35zm-12.62 0a5.27 5.27 0 1 1 5.27 5.26 5.27 5.27 0 0 1-5.27-5.26zM20.5 24c-5 0-11.69.85-11.69 8.22h2.08c0-4.36 2.79-6.14 9.61-6.14s9.6 1.78 9.6 6.14h2.08c0-7.42-6.67-8.22-11.68-8.22z"></path></svg></span><span
                                                    class="MyWadizMenu_text__9ryGW">나의 열매</span><span
                                                    class="MyWadizMenu_arrowIcon__2sutN" aria-hidden="true"><svg
                                                    viewBox="0 0 40 40" focusable="false" role="presentation"
                                                    class="withIcon_icon__3VTbq" aria-hidden="true"><path
                                                    d="M28 20L15 33l-1.4-1.4L25.2 20 13.6 8.4 15 7l13 13z"></path></svg></span></a>
                                            </li>
                                            <li class="MyWadizMenu_menu__3b-H-"><a href="/jjim/html"><span
                                                    class="MyWadizMenu_icon__1sqne" aria-hidden="true"><svg
                                                    viewBox="0 0 32 32" focusable="false" role="presentation"
                                                    class="withIcon_icon__3VTbq" aria-hidden="true"><path
                                                    d="M22.16 4h-.007a8.142 8.142 0 0 0-6.145 2.79A8.198 8.198 0 0 0 9.76 3.998a7.36 7.36 0 0 0-7.359 7.446c0 5.116 4.64 9.276 11.6 15.596l2 1.76 2-1.76c6.96-6.32 11.6-10.48 11.6-15.6v-.08A7.36 7.36 0 0 0 22.241 4h-.085zm-5.28 21.84l-.88.8-.88-.8h-.08C8.4 19.76 4 15.84 4 11.44l-.001-.082A5.76 5.76 0 0 1 9.928 5.6a6.542 6.542 0 0 1 4.865 2.232l.486.567h1.52l.48-.56a6.548 6.548 0 0 1 4.877-2.24l.084-.001a5.76 5.76 0 0 1 5.76 5.76l-.001.085c0 4.396-4.4 8.316-11.12 14.396z"></path></svg></span><span
                                                    class="MyWadizMenu_text__9ryGW">내가 찜한 열매</span><span
                                                    class="MyWadizMenu_arrowIcon__2sutN" aria-hidden="true"><svg
                                                    viewBox="0 0 40 40" focusable="false" role="presentation"
                                                    class="withIcon_icon__3VTbq" aria-hidden="true"><path
                                                    d="M28 20L15 33l-1.4-1.4L25.2 20 13.6 8.4 15 7l13 13z"></path></svg></span></a>
                                            </li>

                                            <li class="MyWadizMenu_menu__3b-H-"><a
                                                    href="/mypage-doranbang/html"><span
                                                    class="MyWadizMenu_icon__1sqne" aria-hidden="true"><i
                                                    class="MyWadizSupporterActivity_investIcon__2RFam"></i></span><span
                                                    class="MyWadizMenu_text__9ryGW">나의 도란방</span><span
                                                    class="MyWadizMenu_arrowIcon__2sutN" aria-hidden="true"><svg
                                                    viewBox="0 0 40 40" focusable="false" role="presentation"
                                                    class="withIcon_icon__3VTbq" aria-hidden="true"><path
                                                    d="M28 20L15 33l-1.4-1.4L25.2 20 13.6 8.4 15 7l13 13z"></path></svg></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </main>
</div>
<div >
    <footer id="footer" th:replace="~{/footer/footer::footer}"></footer>
</div>
</body>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/js/header/header.js"></script>

</html>
