<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/mypage/mypage-review-details.css">
    <link rel="stylesheet" href="/css/footer/footer.css">
    <link rel="stylesheet" href="/css/header/headerking.css">
</head>
<body style="overflow: auto;" class="">
<div id="page-container">
    <main id="main-app">
        <div class="qwqwqw">
            <!--<div class="DetailContent_container__oYgFG" th:object="${kkk}">
                <div class="storeTabContentsWrapper">
                    <div class="storeTabContents">
                        <div class="DetailSatisfaction_container__t8Ax_">
                            <div class="CommentTitle_container__1Zdwo"><span
                                    class="CommentTitle_title__2RXrf">만족도</span></div>
                            <div class="DetailSatisfaction_summaryWrap__1ieLY">
                                <div class="SatisfactionSummary_container__3szWc"><h4
                                        class="SatisfactionSummary_title__27vSu">내 평점</h4>
                                    <div class="RatingScore_container__AeQ_I RatingScore_lgFull__2tY1J SatisfactionSummary_summary__18JyH">
                                        <div class="RatingScore_icon__rIS_k"></div>
                                        <span class="RatingScore_score__2a-SN" th:text="*{score}"></span><span
                                            class="RatingScore_maxScore__2hkAT">/5.0</span></div>
                                </div>
                                <div class="DetailSatisfaction_summarySplitter__2oiTx"></div>
                                <div class="SatisfactionSummary_container__3szWc"><h4
                                        class="SatisfactionSummary_title__27vSu">사용자 평점</h4>
                                    <div class="RatingScore_container__AeQ_I RatingScore_lgFull__2tY1J SatisfactionSummary_summary__18JyH">
                                        <div class="RatingScore_icon__rIS_k"></div>
                                        <span class="RatingScore_score__2a-SN">4.3</span><span
                                            class="RatingScore_maxScore__2hkAT">/5.0</span></div>
                                </div>
                            </div>
                            <div class="DetailSatisfaction_tabsWrap__1YI1J">

                            </div>
                            <div>

                                <div class="StoreSatisfactionList_container__9dez2 DetailSatisfaction_satisfactionList__3XBBJ">
                                    <div class="RatingCommentFilter_container__2t3wf">
                                        <div class="RatingCommentFilter_imageFilter__1vJng"><label
                                                class="Checkbox_checkbox__KagcU Checkbox_sm__2_Gjh Checkbox_labeled__2WxRV"><input
                                                name="" type="checkbox" class="Checkbox_input__Ge9vr"
                                                value="false"><span class="Checkbox_icon__1OUUf"
                                                                    aria-hidden="true"><svg
                                                viewBox="0 0 16 2" focusable="false" role="presentation"
                                                class="withIcon_icon__3VTbq Checkbox_removeIcon__7dzQx"
                                                aria-hidden="true"><path fill-rule="evenodd"
                                                                         d="M0 0h16v2H0z"></path></svg><svg
                                                viewBox="0 0 48 48" focusable="false" role="presentation"
                                                class="withIcon_icon__3VTbq Checkbox_checkIcon__2qiC_"
                                                aria-hidden="true"><path
                                                d="M18 39.6L4.8 26.4l3.36-3.36L18 32.76l21.84-21.72 3.36 3.36z"></path></svg></span><span
                                                class="Checkbox_content__3UZwe"><span><span
                                                class="RatingCommentFilter_imageFilterText__CBz5r">사진 만족도만</span></span></span></label>
                                        </div>
                                        <div>
                                            <div class="SortingSelect_sortingSelect__2zf4r RatingCommentFilter_selectBox__2Gt7m">
                                                <svg viewBox="0 0 32 32" focusable="false"
                                                     role="presentation"
                                                     class="withIcon_icon__3VTbq SortingSelect_icon__28ocK"
                                                     aria-hidden="true">
                                                    <path d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"></path>
                                                </svg>
                                                <select name="sortBy" class="SortingSelect_select__21qNT">
                                                    <option value="REGISTERED_AT,DESC">최신순</option>
                                                    <option value="SCORE,DESC">높은 평점순</option>
                                                    <option value="SCORE,ASC">낮은 평점순</option>
                                                </select></div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="StoreSatisfactionCard_container__3TDTr">
                                            <div class="StoreSatisfactionCard_divider__Zh8Se"></div>
                                            <div class="StoreSatisfactionCard_header__156AH">
                                                <div>
                                                    <div class="Avatar_avatar__1d9Wt Avatar_xs__3q9gb">
                                                        <span></span></div>
                                                </div>
                                                <div class="StoreSatisfactionCard_rightPanel__XCjpV">
                                                    <div class="StoreSatisfactionCard_titleArea__1S3zk">
                                                        <span class="StoreSatisfactionCard_nickName__16JEX" th:text="*{name}">훈이</span>
                                                        <div class="StoreSatisfactionCard_sideArea__jGJma">
                                                            <div class="StoreSatisfactionCard_dateArea__2nNep">
                                                                <span class="StoreSatisfactionCard_updatedDate__1PmK7" th:text="*{registerDate}">2022.11.26</span>
                                                            </div>
                                                            <div class="StoreSatisfactionCard_moreWrap__3zYcp">
                                                                <svg viewBox="0 0 40 40" focusable="false"
                                                                     role="presentation"
                                                                     class="withIcon_icon__3VTbq"
                                                                     aria-hidden="true">
                                                                    <path d="M24.52 5A4.52 4.52 0 1 0 20 9.57 4.53 4.53 0 0 0 24.52 5zm0 30A4.52 4.52 0 1 0 20 39.48 4.53 4.53 0 0 0 24.52 35zm0-15A4.52 4.52 0 1 0 20 24.52 4.53 4.53 0 0 0 24.52 20z"></path>
                                                                </svg>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="StoreSatisfactionCard_ratingArea__2RBSe">
                                                        <div class="RatingScore_container__AeQ_I RatingScore_smTitle__1OhOH">
                                                            <div class="RatingScore_icon__rIS_k"></div>
                                                            <span class="RatingScore_score__2a-SN" th:text="*{score}"></span>
                                                        </div>
                                                        <div class="StoreSatisfactionCard_badges__2Q8Zp">
                                                            <span class="StoreSatisfactionCard_badge__35nf6">1회 구매</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="StoreSatisfactionCard_content__2izM4">
                                                <div class="StoreSatisfactionCard_comment__2d9RM" th:text="*{content}">간이 책상도 겸하게
                                                    폭이 조금 더 넓은 사이즈도 만들어 주셨으면 합니다.
                                                    아이패드 프로도 폭이 모프 Z 보다 넓어요.
                                                    무엇보다 나는 앉아서 글을 많이 쓰는데, 가벼운, portable, 간이 좌식 책상으로 아주
                                                    유용하겠습니다.
                                                </div>
                                                <div class="StoreSatisfactionCard_options__P2kzd"><span
                                                        class="StoreSatisfactionCard_option__2pjHI" th:text="*{brand}">MOFT Z / 그레이</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div></div>
                                </div>
                            </div>

                        </div>
                    </div>




                </div>
            </div>-->
        </div>
        </section>

    </main>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:inline="javascript">

    let datas = [[${kkk}]];
    console.log(datas);
    datas.forEach(data =>{
        console.log(data);
        $('.qwqwqw').append(`
                <div class="DetailContent_container__oYgFG">
                <div class="storeTabContentsWrapper">
                    <div class="storeTabContents">
                        <div class="DetailSatisfaction_container__t8Ax_">
                            <div class="CommentTitle_container__1Zdwo"><span
                                    class="CommentTitle_title__2RXrf">만족도</span></div>
                            <div class="DetailSatisfaction_summaryWrap__1ieLY">
                                <div class="SatisfactionSummary_container__3szWc"><h4
                                        class="SatisfactionSummary_title__27vSu">내 평점</h4>
                                    <div class="RatingScore_container__AeQ_I RatingScore_lgFull__2tY1J SatisfactionSummary_summary__18JyH">
                                        <div class="RatingScore_icon__rIS_k"></div>
                                        <span class="RatingScore_score__2a-SN">${data.score}</span><span
                                            class="RatingScore_maxScore__2hkAT">/5.0</span></div>
                                </div>
                                <div class="DetailSatisfaction_summarySplitter__2oiTx"></div>
                                <div class="SatisfactionSummary_container__3szWc"><h4
                                        class="SatisfactionSummary_title__27vSu">사용자 평점</h4>
                                    <div class="RatingScore_container__AeQ_I RatingScore_lgFull__2tY1J SatisfactionSummary_summary__18JyH">
                                        <div class="RatingScore_icon__rIS_k"></div>
                                        <span class="RatingScore_score__2a-SN">4.3</span><span
                                            class="RatingScore_maxScore__2hkAT">/5.0</span></div>
                                </div>
                            </div>
                            <div class="DetailSatisfaction_tabsWrap__1YI1J">

                            </div>
                            <div>

                                <div class="StoreSatisfactionList_container__9dez2 DetailSatisfaction_satisfactionList__3XBBJ">
                                    <div class="RatingCommentFilter_container__2t3wf">
                                        <div class="RatingCommentFilter_imageFilter__1vJng"><label
                                                class="Checkbox_checkbox__KagcU Checkbox_sm__2_Gjh Checkbox_labeled__2WxRV"><input
                                                name="" type="checkbox" class="Checkbox_input__Ge9vr"
                                                value="false"><span class="Checkbox_icon__1OUUf"
                                                                    aria-hidden="true"><svg
                                                viewBox="0 0 16 2" focusable="false" role="presentation"
                                                class="withIcon_icon__3VTbq Checkbox_removeIcon__7dzQx"
                                                aria-hidden="true"><path fill-rule="evenodd"
                                                                         d="M0 0h16v2H0z"></path></svg><svg
                                                viewBox="0 0 48 48" focusable="false" role="presentation"
                                                class="withIcon_icon__3VTbq Checkbox_checkIcon__2qiC_"
                                                aria-hidden="true"><path
                                                d="M18 39.6L4.8 26.4l3.36-3.36L18 32.76l21.84-21.72 3.36 3.36z"></path></svg></span><span
                                                class="Checkbox_content__3UZwe"><span><span
                                                class="RatingCommentFilter_imageFilterText__CBz5r">사진 만족도만</span></span></span></label>
                                        </div>
                                        <div>
                                            <div class="SortingSelect_sortingSelect__2zf4r RatingCommentFilter_selectBox__2Gt7m">
                                                <svg viewBox="0 0 32 32" focusable="false"
                                                     role="presentation"
                                                     class="withIcon_icon__3VTbq SortingSelect_icon__28ocK"
                                                     aria-hidden="true">
                                                    <path d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"></path>
                                                </svg>
                                                <select name="sortBy" class="SortingSelect_select__21qNT">
                                                    <option value="REGISTERED_AT,DESC">최신순</option>
                                                    <option value="SCORE,DESC">높은 평점순</option>
                                                    <option value="SCORE,ASC">낮은 평점순</option>
                                                </select></div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="StoreSatisfactionCard_container__3TDTr">
                                            <div class="StoreSatisfactionCard_divider__Zh8Se"></div>
                                            <div class="StoreSatisfactionCard_header__156AH">
                                                <div>
                                                    <div class="Avatar_avatar__1d9Wt Avatar_xs__3q9gb">
                                                        <span></span></div>
                                                </div>
                                                <div class="StoreSatisfactionCard_rightPanel__XCjpV">
                                                    <div class="StoreSatisfactionCard_titleArea__1S3zk">
                                                        <span class="StoreSatisfactionCard_nickName__16JEX">${data.name}</span>
                                                        <div class="StoreSatisfactionCard_sideArea__jGJma">
                                                            <div class="StoreSatisfactionCard_dateArea__2nNep">
                                                                <span class="StoreSatisfactionCard_updatedDate__1PmK7">${data.registerDate}</span>
                                                            </div>
                                                            <div class="StoreSatisfactionCard_moreWrap__3zYcp">
                                                                <svg viewBox="0 0 40 40" focusable="false"
                                                                     role="presentation"
                                                                     class="withIcon_icon__3VTbq"
                                                                     aria-hidden="true">
                                                                    <path d="M24.52 5A4.52 4.52 0 1 0 20 9.57 4.53 4.53 0 0 0 24.52 5zm0 30A4.52 4.52 0 1 0 20 39.48 4.53 4.53 0 0 0 24.52 35zm0-15A4.52 4.52 0 1 0 20 24.52 4.53 4.53 0 0 0 24.52 20z"></path>
                                                                </svg>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="StoreSatisfactionCard_ratingArea__2RBSe">
                                                        <div class="RatingScore_container__AeQ_I RatingScore_smTitle__1OhOH">
                                                            <div class="RatingScore_icon__rIS_k"></div>
                                                            <span class="RatingScore_score__2a-SN" >${data.score}</span>
                                                        </div>
                                                        <div class="StoreSatisfactionCard_badges__2Q8Zp">
                                                            <span class="StoreSatisfactionCard_badge__35nf6">1회 구매</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="StoreSatisfactionCard_content__2izM4">
                                                <div class="StoreSatisfactionCard_comment__2d9RM">${data.content}
                                                </div>
                                                <div class="StoreSatisfactionCard_options__P2kzd"><span
                                                        class="StoreSatisfactionCard_option__2pjHI">${data.brand}</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div></div>
                                </div>
                            </div>

                        </div>
                    </div>




                </div>
            </div>
    `)
    });

</script>
</html>