<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tikkeul.app.mapper.SavingLevelMapper">
    <insert id="insertSavingLevel">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
            SELECT SEQ_SAVINGLEVEL.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO SAVINGLEVEL (ID, NAME, GOAL_MONEY, DAILY_MONEY)
        VALUES(#{id}, #{name}, #{goalMoney}, #{dailyMoney})
    </insert>

    <select id="adminSelectSavingLevelAll" resultType="SavingLevelVO">
        SELECT ID, NAME, GOAL_MONEY, DAILY_MONEY
        FROM SAVINGLEVEL
    </select>

    <select id="savingLevelFileAll" resultType="SavingLevelFileDTO">
        SELECT F.ID, SAVINGLEVEL_ID, SL.NAME SAVINGLEVEL_NAME, GOAL_MONEY, DAILY_MONEY, CONTENT ,F.ID, FILE_SIZE, ORIGIN_NAME, FILE_PATH, UUID, FILE_TYPE
        FROM SAVINGLEVEL SL JOIN SAVINGLEVELFILE SLF ON SL.ID = SLF.SAVINGLEVEL_ID JOIN FILES F ON F.ID = SLF.ID AND SL.ID != 0
    </select>

</mapper>